h1{
    color:green;
    text-align: center;
    font-size: 7pc
}
.color_selector{
    color: blue;
}
.cse{
    color:red;
}
.color{
    color:orange;
}
.iubat{
    color:purple;
}
.image{
   margin-left: 780px; 
}